#Goban {
    display: flex;
    align-items: center;
    width: 326px;
    height: 326px;
    margin: 5% 1% 0% 3%;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(220, 179, 92);
}

#GobanClickLayer {
    position: absolute;
    margin-left: 43px;
    height: 233px;
    width: 233px;
}

#GobanOverlay {
    position: absolute;
    margin-left: 43px;
    height: 233px;
    width: 233px;
    pointer-events: none;
}